.container {
    width: 80%;
}

.container#center-scrape {
    margin: 0 auto;
    width: 90%;
}


.navigation {
    border-bottom: 2px solid #9fbfdf;
    font-family: 'Coda Caption', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
    font-family: 'Coda Caption', sans-serif;
    margin-bottom: 20px;
}

.by-line {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

h5 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
}

.bg-light {
    background-color: transparent !important;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0;
}

.btn-outline-dark {
    background-color: white;
    border: 2px solid #6699cc;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}

.btn-secondary {
    background-color: #777;
    border: 2px solid #777;
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bold; */
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-right: 20px;
}


.card {
    margin-top: 10px;
    border: .5px solid;
}

.card-body {
    text-align: center;
    min-height: 250px;
}

.card h5 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
}

.card-text {
    font-family: 'Roboto Condensed', sans-serif;
}

.card-link {
    color: #6699cc;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}


textarea#bodyinput {
    width: 100%;
    height: 60%;
    font-family: 'Roboto', sans-serif;
}

p#note {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

.input {
    height: 200px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.footer-copyright {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #777;
}
